input.ng-invalid.ng-touched:not(.ng-ignore-validate) {
  background-color: pink;
}
input.ng-valid.ng-touched:not(.ng-ignore-validate) {
  background-color: lightgreen;
}

.locationInvalid {
  background-color: pink;
}

