.location-category {
  .location-category-item {
    padding: 3px;

    .item-wrapper {
      border-style: dotted;
      border-width: 1px;
      padding: 3px;
    }

    .item-content.category-public {
      background: url(../../../assets/images/wifi_public_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/person.png) no-repeat center center;
      }
    }
    .item-content.category-coffee {
      background: url(../../../assets/images/coffee_shops_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/coffee.png) no-repeat center center;
      }
    }
    .item-content.category-mall {
      background: url(../../../assets/images/malls_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/mall.png) no-repeat center center;
      }
    }
    .item-content.category-mall {
      background: url(../../../assets/images/malls_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/mall.png) no-repeat center center;
      }
    }
    .item-content.category-university {
      background: url(../../../assets/images/universities_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/international.png) no-repeat center center;
      }
    }
    .item-content.category-airport {
      background: url(../../../assets/images/airport_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/airport.png) no-repeat center center;
      }
    }
    .item-content.category-bus {
      background: url(../../../assets/images/bus_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/bus.png) no-repeat center center;
      }
    }
    .item-content.category-hospital {
      background: url(../../../assets/images/hospitals_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/hospital.png) no-repeat center center;
      }
    }
    .item-content.category-upcoming {
      background: url(../../../assets/images/upcoming_bg.jpg) no-repeat center center;
      .item-icon {
        background: url(../../../assets/images/dangerous.png) no-repeat center center;
      }
    }

    .item-content {
      height: 80px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 15px 10px;

      .item-icon {
        width: 50px;
        height: 50px;
        float: left;
      }
      .item-text {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        float: left;
        margin-top: 15px;
        max-width: 120px;
      }
      .item-count {
        background: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        float: right;
        margin: 10px;
      }
    }
  }
}

.weather-forecast {
  .fore-cast {
    width: 20%;
    float: left;
    padding-right: 5px;
  }

  .fore-cast-content {
    background-color: #E4EAEC;
    padding: 5px 0 5px 5px;
  }
}
