nav.navbar {
  button.navbar-toggle {
    border: none;
  }

  ul.nav li {
    i { font-size: 20px; }
    span.none {
      display: none;
      text-transform: capitalize;
    }

    a.navbar-avatar {
      margin-left: 20px;

      ul.dropdown-menu {
        overflow: hidden;
      }

      img {
        width: 30px;
        height: 30px;
      }

      .username {
        margin-right: 10px;
      }
    }
  }

  ul.nav li.active {
    span.none {
      display: initial;
      font-size: 16px;
      margin-left: 5px;
    }
    a, a:hover, a:active, a:focus {
      background: transparent;
      color: @color-blue-800
    }
  }

  ul.nav li.navbar-user {
    float: right;
  }
}
