.panel-body {
  padding: 30px;
}

.panel.panel-rounded {
  background-color: transparent;

  .panel-title {
    padding: 5px;
    color: #fff;
    text-align: center;
    border-radius: 20px 20px 0 0;
    height: 55px;
  }

  .panel-body {
    border-radius: 20px;
    background: white;
    margin-top: -20px;
  }
}

.panel.not-rounded {
  border-radius: 0 !important;

  .panel-heading {
    border-radius: 0 !important;
  }
}

.panel.panel-sm {
  .panel-heading .panel-title {
    padding: 0 15px;
    line-height: 35px;
    font-size: 14px;
  }

  .panel-actions {
    right: 15px;
  }
}

.panel-heading.panel-heading-invert {
  color: #fff;

  .panel-action {
    color: rgba(227, 231, 234, 0.9)
  }

  .panel-action.active, .panel-action:hover {
    color: #fff;
  }

  .bootstrap-select {
    outline: none !important;

    button {
      color: #fff !important;
      border-radius: 200px;
      background: transparent !important;
      border: none;
      outline: none !important;
    }
  }
}

.panel-heading.panel-heading-rounded {
  height: 45px;
  padding: 0 15px;

  .panel-title {
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    background-color: @color-blue-800-trans;
    line-height: 35px;
    padding: 0 50px;
    display: inline-block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
  }
}

.panel-heading.panel-heading-rounded.panel-heading-sm {
  height: 40px;
  .panel-title {
    line-height: 30px;
    font-size: 1em;
  }
}

.list-group .list-group-item {
  border: 1px solid transparent;
}
