*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
providers.json
.cache
.config
.npm
.env
client/dist
server/*.development.json
server/*.development.js
server/*.production.json
server/*.production.js
!server/middleware.production.json
