.row.height-250.padding-top-10
  .col-md-4
    ul.list-group.list-group-gap
      li.list-group-item.text-center.bg-yellow-800.white.radius-50.margin-vertical-15
        strong.font-size-24.padding-right-10 3,310
        | Clicks
      li.list-group-item.text-center.bg-green-600.white.radius-50.margin-vertical-15
        strong.font-size-24.padding-right-10 15,049
        | People Reach
      li.list-group-item.text-center.bg-purple-600.white.radius-50.margin-vertical-15
        strong.font-size-24.padding-right-10 22%
        | CTR
  .col-md-8
    #click_chart.height-100.margin-top-15
    #impression_chart.height-100.margin-top-15
