.row.height-250.padding-top-10
  .col-sm-6
    p.text-center
      strong Device
    .row
      .col-xs-4.text-center
        span.circle.circle-lg.bg-blue-grey-600.white
          i.fa.fa-mobile
      .col-xs-8
        .progress.style-1(style='margin: 12px 0px')
          span.text
          .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
            span.label
        .progress.style-1(style='margin: 12px 0px')
          span.text
          .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
            span.label
    .row.margin-top-20
      .col-xs-4.text-center
        span.circle.circle-lg.bg-blue-grey-600.white
          i.fa.fa-desktop
      .col-xs-8
        .progress.style-1(style='margin: 12px 0px')
          span.text
          .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
            span.label
        .progress.style-1(style='margin: 12px 0px')
          span.text
          .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 55%')
            span.label
    .row.text-center.margin-top-20
      span.padding-horizontal-10
        i.fa.fa-circle.yellow-800.padding-right-5
        strong 3,310
        |  Click
      span.padding-horizontal-10
        i.fa.fa-circle.green-600.padding-right-5
        strong 15,049
        |  Reach
  .col-sm-6
    p.text-center
      strong Location
    .height-200(perfect-scrollbar, data-nice-option="{cursorcolor: '#CCD5DB'}")
      ul.list-group.margin-bottom-0
        li.list-group-item
          lable.label.lable-chip.label-round.label-default Tan Son Nhat Domestic Airport
        li.list-group-item
          lable.label.lable-chip.label-round.label-default Da Nag International Airport
        li.list-group-item
          lable.label.lable-chip.label-round.label-default Cong vien 23/09
        li.list-group-item
          lable.label.lable-chip.label-round.label-default Cong vien 23/09
        li.list-group-item
          lable.label.lable-chip.label-round.label-default Cong vien 23/09
        li.list-group-item
          lable.label.lable-chip.label-round.label-default Cong vien 23/09
