h5(style="color: {{this.point.color}}") {{this.key}}
table
  tr
    td Total:
    td
      strong {{this.point.total}}
  tr
    td Percentage:
    td
      strong {{this.point.percentage.toFixed(0)}}% ({{this.point.y}})
