footer
  p.font-size-12.margin-left-50.grey-400
    span.hidden-xs Copyright @ Wifiads 2016 All rights reserved
    span.padding-horizontal-5 |
    a Contact Us
    span.padding-horizontal-5 |
    a About Click
