.page-wrapper
  .header-container
    header.header.fixed.full-width.clearfix
      .header-right.clearfix
        .main-navigation.animated.with-dropdown-buttons
          nav.navbar.navbar-default(role='navigation')
            .container-fluid
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                .header-left.clearfix
                  #logo.logo
                    img#logo_img(src='../../../assets/images/logo.png', alt='The Ads-Platform')
              #navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li(ui-sref-active='active')
                    a(ui-sref='locations')
                      i.fa.fa-location-arrow.fa-1x
                      span.location.none Location
                  li(ui-sref-active='active')
                    a(ui-sref='users')
                      i.fa.fa-users.fa-1x
                      span.users.none Users
                  li(ui-sref-active='active')
                    a(ui-sref='news')
                      i.fa.fa-newspaper-o.fa-1x
                      span.news.none News
                  li(ui-sref-active='active')
                    a(ui-sref='calendar')
                      i.fa.fa-calendar.fa-1x
                      span.calendar.none Calendar
                  li(ui-sref-active='active')
                    a(ui-sref='campaigns')
                      i.fa.fa-bell.fa-1x
                      span.campaign.none Campaign
                  li(ui-sref-active='active')
                    a(ui-sref='report')
                      i.fa.fa-area-chart.fa-1x
                      span.report.none Report
                  li(ui-sref-active='active')
                    a(ui-sref='hotspots')
                      i.fa.fa-wifi.fa-1x
                      span.hotspots.none Hotspots
                  li
                    a
                      i.hidden-xs.fa-1x
                      span |
                  li
                    a(href='')
                      i.fa.fa-user.fa-1x
                      span  hoc.nguyen
                  li
                    a(href='')
                      i.fa.fa-sign-out.fa-1x
                      span  Log out
