div(ng-show='ban.banner')
  .col-sm-8.col-sm-push-2.padding0.mainCampaign(style='position:absolute; background-color:rgba(192,192,192,0.5); margin: auto;')
    .col-xs-4.text-center(style='background-color:rgba(49,176,213,0.7);    margin-left: 20px; border-radius: 0px 0px 10px 10px; height: 25px; line-height: 25px; margin-bottom: 5px; color: #ffffff') Banner
    .clearfix
    .col-xs-12.colCampaign(style='background-color: #ffffff; margin-bottom: 60px;')
      div.row.margin-10
        div.col-xs-12
          form.form-horizontal(role="form" name="bannerForm" ng-submit="ban.edit()")
            .titlestep3 Banner Information
            div.alert.success(ng-show="ban.actionSuccess") This Actine has been send successfull
            div.form-group(class="{{(!bannerForm.name.$valid && bannerForm.name.$touched)?'has-error':''}}")
              label.control-label.col-xs-2 Name:
              div.col-xs-10
                input.form-control.cusInput(placeholder="Name" ng-model="ban.pojo.name" name="name" required)
            div.form-group(class="{{(!bannerForm.type.$valid && bannerForm.type.$touched)?'has-error':''}}")
              label.control-label.col-xs-2 Type:
              div.col-xs-10
                select#select_city_from.select_location_create_ads(ng-model="ban.pojo.type" name="type" required)
                  option(value="standar") Image
                  option(value="rick") Html Code
            div.form-group(class="{{(!bannerForm.deviceType.$valid && bannerForm.deviceType.$touched)?'has-error':''}}")
              label.control-label.col-xs-2 Divice:
              div.col-xs-10
                select#select_divice.select_location_create_ads(ng-model="ban.pojo.deviceType" name="deviceType" required)
                  option(value="all") All
                  option(value="mobile") Mobile
                  option(value="desktop") Desktop

            div.form-group
              div.col-xs-12
                label#htmlCode Html Code:
                textarea#htmlEditor(name="htmlEditor" rows="10" cols="80" ng-model="ban.pojo.htmlCode")
            div
              button.btn.btn-primary.margin-right-5(ng-disabled="bannerForm.$invalid" ng-show="!ban.pojo.id" ) Submit
              button.btn.btn-primary.margin-right-5(ng-disabled="bannerForm.$invalid" ng-show="ban.pojo.id" ) Edit
              a.btn.btn-primary.margin-right-5(ui-sref='bannerList') List





