div(ng-show='ban.banner')
  .col-sm-8.col-sm-push-2.padding0.mainCampaign(style='position:absolute; background-color:rgba(192,192,192,0.5); margin: auto; height: 100%')
    .clearfix
    .col-xs-12.colCampaign(style='background-color: #ffffff; height: 450px; margin: 0px 0px;')
      div.row
        div.col-xs-12
          form.form-horizontal(role=form)
            .titlestep3 Banner Information
            div.form-group
              label.control-label.col-xs-2 Name:
              div.col-xs-10
                input.form-control.cusInput(placeholder="Name")
            div.form-group
              label.control-label.col-xs-2 Name:
              div.col-xs-10
                select#select_city_from.select_location_create_ads
                  option(value="standar") Image
                  option(value="rick") Html Code
            div.form-group
              div.col-xs-12
                label#htmlCode Html Code:
                textarea#htmlEditor(name="htmlEditor" rows="10" cols="80")





