.page-content.container-fluid
  .bg-white-trans.margin-horizontal-15
    .panel.bg-trans
      .panel-heading.panel-heading-rounded
        .panel-title.pull-right Locations
      .panel-body
        .row
          .col-lg-6.padding-horizontal-5
            .panel.margin-bottom-10
              .panel-heading.panel-heading-sm.panel-heading-rounded.text-center
                .panel-title.bg-yellow-800 Total Locations: 1900
              .panel-body
                #city_chart.col-md-6.height-200.padding-0
                #category_chart.col-md-6.height-200.padding-0
          .col-sm-6.col-lg-3.padding-horizontal-5
            .panel.margin-bottom-10
              .panel-heading.panel-heading-sm.panel-heading-rounded.text-center
                .panel-title.bg-green-600 Top 10 Cities
              .panel-body
                ul.list-group.margin-bottom-0.height-200.relative(perfect-scrollbar)
                  ul.list-group.margin-bottom-0
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default English
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Art and Design
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Drama
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Music
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Physics
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Chemistry
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Biology
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Home economics
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Physical Education
                    li.list-group-item
                      lable.label.lable-chip.label-round.label-default Computing Science
          .col-sm-6.col-lg-3.padding-horizontal-5
            .panel.margin-bottom-10
              .panel-heading.panel-heading-sm.panel-heading-rounded.text-center
                .panel-title.bg-purple-600 Top 10 Locations
              .panel-body
                ul.list-group.margin-bottom-0.height-200.relative(perfect-scrollbar)
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default English
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default Art and Design
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default Drama
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default Music
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default Physics
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default Chemistry
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default Biology
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default Home economics
                  li.list-group-item
                    lable.label.lable-chip.label-round.label-default Physical Education
        .row.padding-horizontal-5
          .panel.margin-bottom-10
            .panel-heading.panel-heading-rounded.panel-heading-sm.text-center
              .panel-title.bg-blue-800 Audience Report
            .panel-body
              #gender_chart.col-md-6.col-lg-3.height-200.padding-0
              #age_chart.col-md-6.col-lg-3.height-200.padding-0
              #income_chart.col-md-6.col-lg-3.height-200.padding-0
              #device_chart.col-md-6.col-lg-3.height-200.padding-0
        .row.padding-horizontal-5
          .panel.margin-bottom-10
            .panel-heading.panel-heading-rounded.panel-heading-sm.text-center
              .panel-title.bg-blue-800 Campaign Overview
            .table-responsive
              ng-include(src="'grid/campaign.gird.jade'")
